.large{
  font-size:30px;
  padding:5px;
  
}
h1{
  font-size:50px;
}

body{
  background-image:url(https://lh3.googleusercontent.com/r6p1QNkrGQDXQZ3Az7uM0nPBe3hTDZjpNSiPb_P3-lX-loAbyrFPR6GPaJWEaFKZS-lriQqs3MI9A16YymUKR57RBcz1IxvZBH2INA0inGeP8SBQX8qnS6gr13MIHYgDE9WyTqMkF0sU2SpkIRneIT1Yq1T9OSGYhn1YY2YDEGkKj0Bde0pVc9MtI5vRtZ7VJ7zbu5NWjkvEMPAPpZqe5rRj0OQl_erZ5SkQr7sHrhR74q9M8bQ6D6Yp7rs17h5jQQUOCUi_9Vn0YEjEF9sdKKsiiMHENj0BzU7YWmOwuZc1_Wcz4-ow5j_IP4P_wH-A1Lnh5HDk_q-cFqhs7X5hfKbU9Bs_lAvqJS_2iOqQBGxbxhKGV3FON2k0nziYk70Y6nzpJ4ctaTZf0Nz5ZOUQlEISZTrsGIbiGDqBSa_r8k9xyOqxG5eg00RQy-UQE9pVS3ct8GDvwuAieK5WYAG-veQwlK7VXHoq2Idlt_TprSueFkyvF_4hfkCwDZEfpGH1Q1b4KqvW3TQbrNRNA1NRkctVZRacqWeCzz4-MV5tbpfXnBhXR5FML8Hll4btg9lSHrRMnPeX9xELBekpSkNg64pCsVDKHF24G0MllRpz=w540-h304-no);
  background-size:cover;
  margin:40px;
  
}
.mainApp{
  background:rgba(255, 255, 255, 0.3) ;
  padding:10px;
  color:black;
}
button{
  color:black;
  font-size:20px;
  padding:5px 10px 5px 10px;
  border: 2px outset darkgrey;
  background:rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px black;
}
button:hover{
  background:grey;
  border: 2px outset grey;
  box-shadow: 3px 3px 3px black;
}
#clothes{
  padding:10px;}
img{
  height:200px;
  
}
.hide{
  display:none;
} 
 
#browserFail h5{
  font-weight:bold;
   
}
.fog{
  background:url(https://lh3.googleusercontent.com/BxR7rw1huyCBz4OQcDWKBj9D2h0GCKFZaTymzfvDP-szQbAbgtTwoZyPzeVTt0v35nlsbsg__t1m5CBoxGL9_DdDRzz3z_LZ3Rl7prpuk6xao1sKxRPFUm2UaIBZrlJxyPimOZWMG1E-WJSqxQIagapi8ByY25glJCjprsqUVGa99B9xUDep83WZMeymMaQFulLq2m3ammrn-3SpKI7nH1EKhdO0SakLlJEw3eShrzaeYL_GekvSmQ1Mrum6G6uUZvQWZ_UQQhHDL7dkb2vntMozwP1SirjSMFUWnsiMWNWhwSKIyDmEk0NXmSkU_Ir573tZ13RIESbTlortNz0ta3AIM24ZOOPABz9Vn2rF0m50_ALb4VKLdTGP-bMsXSQ6ha32Oo_9NHHVWI8NRl8LFEfS4aZ_9jmdOtJqZM1cw9G6pMGNlZRK17m5ki4HzZQDt8z6GcX8P0VozM0I2nSS7sQZIFKxDJ0UdKedo_favhfjfLnxpvZj5SJEo1SUt7pLBXqiJXusPNzU4Y7xOqxwaPET531IJkWWSN4OSw6VDrtw-j3k_pYSwoMN6cuzS5_0TPkVgnzfRW_Y65LJCMpQehXeVsWbvNy0EvLXZnf_=w750-h550-no);
  
}
.haze{
  background-image:url(https://lh3.googleusercontent.com/KQ9Wwi_DaTkNoMHvMqrKk5WSjin61_D3EsDaTbdxvbBJzf2rRsQHYuSU6rgIIqjVgBvDIVTj7w0Snd77Ip59KkAmttbGt29qletyfkd5rXSqOb3Te9nArOM_meYXG8BKFcGdmfFw76_BBuUTqSvrVdmSVLVGQeTEXerZhVU38t1Z5xJcLVqMSL0D3E28RD2f-IkEf5T7JX7x9gJDzMVhSLMWgH5XwT6Jg7hyYEF43aNvSNoG_5c2t4znfHpv2naaQhnSkmpsOfc0VjDAP8IKJvp-ocwOAqIptfnM-Cmt9xEkJ2lcOlBevbQqfxENWBkVwT4d1sg5aU6Arys8wlAAxSYsqTUHXSCkHYcjwQwGabNM8fG885AJbpflUYuq43so7aovEwcX-eSeWSFjkxwvUGCzX-H9xaPoquEX3bp9HkO7yeIGoBl8Q0tiS4LUi_KZ6wl14_jINUHi8gkIIL61i2g5x06nlv3VdQHq2gWJyo4p42SmoeCIfNVs2_C9zfmUvpN9UtTkRyKX5K9NLrk95bDtGMzPgnaZif79lZsiMx9utPojJrd4TKCbUfxPGmjLOTxTzmO3p04HnLeXRPAL3Y7E9tn71wCkkXE3jeSc=w540-h304-no);
  background-size:cover;
}
.cloudy{
  background-image:url(https://media3.giphy.com/media/VKxw6S9AvpIXu/giphy.gif);
  background-size:cover;
  }
.rain{
  background-image:url(https://lh3.googleusercontent.com/uiVLhYL2Vpmwoic3aORrV2pey2Mx8ox3r4pLaWW2lanmUXbo2yiYd5CSqgP7KFKPxx6r3l0zpNxlxf-BRd6Vc2YTJHJAnhWhQdYw-ETUpod0D6e55iSEuq8zj9mH6TecL1yHLTm77n0pIoXtxs2MDf0k-7PgWNZcRE2LCw2IKBp2RpL2sA2Ej2NHJtU0luM9atPBPuo1Q-HQTr0YV2MdelTlVYOqPKMYXdrQLOEu6hMq5iBDHSnInr6MTWBceNtewFnThS2z_DkSNodQUC24PQ-9VzmnMBiVCs17xqOrVSbXfG8_-q-pBEH0EZhRMnP-swApDk7ZucTdUaol7qttY85Pt3-UE5Is4PhL0UaesXltI1SAp-aE8IHAqpQ2XlrltdYnXDqNWPfT3pYoIUYL4G0L5dnEFEu4_KCzQYNMxV78SFhZc8Zwcci4uff4WzQ1i1Ee2-sRd1cWPy-6la61YMBI4ERc_QHqMxcVJ1XXFFxEmD8FNNH-OggjIybrIkV9ILU7ESeDMbZTSHXsQh69AFEsMuvtelgpHPC8m-vst_VK6LF-8YAsohLIGJj0QaTVoskcbFhmMrS4MG8RsTDXErfsRxnQSrI0pg4TtVEm=w500-h270-no);
  background-size:cover;
}
.storm{
  background-image:url(https://lh3.googleusercontent.com/58rMhXNEBkurmodQ80WxtciNrhU_laqM_0mWVr7jwXje_ma3ilYpxm5fSfPyqKibQwJyzCLGsbMGd3EnvsdfBOudWSQ7KgU5i65MdFjr6m2Sg0Zvx69bsiFj1FQav6eZWkTYrJtCSBQpaHff1C6OuvDETcmx_JdFZ90TKNzqYLHNOxfbAM68YU8nEIof-wJY8zuPAEGSlVJtOsytC1mmdi5kpENFqoh9gFvOAtCPhplmOu_SDsG5JpnTofrLvi3zi6KoYIRJmRbr5ZH3dtMcFJKaZwB0jmBbfADJer93mr8sRVBRZyR5Lxyfw2OGW7t7uKVHyl7K-W85oI2MySOHiXodpWdipXbU1AEVFsrhYmNkUzVnWVf8flF0eVRpvS6KrZvynzKTx4OmmFdlwoOh3U2H5V744UtyA0wFqluMeTNbVKuKirBFIjAzSoaf85dVTOXkBxAZfP8Bhd0BzBOvG8i8_fNLm8yQWHknd7IxCiB6DNCbxmBKDecqHAo-CxtMjA1Z9F01bin8KvSlkWyWqH3hF5ra-x9ucxi8b51HaxX0T8ajODmGHGDWL7mYKyrfN42yDprfmeMPIsXnMJ_IPdP88rXa9mPi5bcMfPLa=w500-h331-no);
    background-size:cover;
}
.snow{
  background-image:url(https://lh3.googleusercontent.com/bHzRicBeZIqp2mHwyxMQ1OjWeHV69nEF22O12NhrbtO6RdoG1TUTRoZJOfNAXrUbp1uJtMCfDAm2B8p192P_OozUbwXpVnKNJDf6-Up4bHMzS5gVlthsqTJ4hql6lDF7pl4BzQvSvHTF2BREe3Y_o1VWO9i8U49_oIxnoG6uiXOu4B2S_OOVztP5sKTppJcrTTm2G0WvJaxOG2SsmhCxK78kSM7wrHLYAKTI2jcGEN9hHVnpyruNP9cuxGg1QLhRABve-3DMX5GusmpxpIPm4Ps-BO8C7gQOYGSQ5SdvtBBJ3gzMyFC9XUtMULLPaic7X-x2xJ0MT6JvavPc04P-huqModrxaF1ycivebT9bvZZDUNUZFGOuAb3LzABq0hnAzvyJGdzEBXleVXJT0DHynYDIkk4CrZsEyFEBTgE0U4Ws8fFnyQ9BrRkxiXapOPGsMAFAuKyeVFDzxV-DElAb1w3RmsUVMJA6ERSiJwMY1T6ib34Zaq3GLY42KU2j6cCm3YO9RTGPlR1Hmh_6BWp7T2LE64assvA7fgVx4MB1ATtD1vTaZE2dMAuCw3QrQgb34_aiqzR9VF06tgDRS7ex1JfoqUJmRY7WB29h5uLS=w637-h421-no);
  background-size:cover;
}
.extreme{
  background-image:url(https://lh3.googleusercontent.com/alSvJ-Q-ZXYB-P_NO9Ysqn8dwjvUS_L50lZ3QvUVAKFHXIX8wi5k10nGpsDXAtK5peiNXUQ_gw3_oFydgt4sEUsrhr-lR2LicRmnC2MHgxU8J9SLsV6hf5kfwmzSe8yQ57V60J8XLJcLmt4koZaUbtDGbGGUzUzxw7jdum0TXwOFq3JU90N4unMlP4voipu-K60cAP1-EKQ0xFlzH4uBy_3LSsrlCoYAXMnKEIX0sJyWBNyG2h8NC3OCb0cva6ShCxrxfIuIDgQYcDyZEKbq69eL1n1aLR82tR7NEN08zlnr55pkooUpez8UD-vI9lB2kkM4VWZYzTq688NDPLwg-zJhJd7NBFDNPUbXjGsuKrccKb-cAoztBwaHHgP789qwxGZPZjFhKr3Cm9QcsbaGgj5sdybmDGEVvWN9tJxT-5LHGVtHZfaT3rt0naQlVN5WzyuwT4iLtGzR5a8W9-ZnmEcNGjB6ByyuUG66xfjMUSezAe_RamCrw9VfiMwNfpKteTHqmu3t2nxXT4jWl5PflQCd-2u8RDk3ABfygzNXN9pjjKOK-2x-OpMxNBaQDdhI6QOG-yglfbHRaizDoMRjo4_SZo2n6dIjUUY2Y9Ak=w420-h300-no);
  background-size:cover;
}
.clear{
  background-image:url(https://lh3.googleusercontent.com/XoxROh0vch4E4YzhhUqBK0dVi_tfnNBsAprEv_gPXaK6jZrw4_brwsUplvU6YsThe8_0DpO8QIWGUPeR1qmPki6tFi4WXTsxoRk_2S1YBa3acOw_je2VwHmZXjGWfpqVf0mKoDWLEMshSuugSZE7wkhbBPlEF_DKKSFr6W9g0wUcRpXBCp9vA8aaVB2uuZ4vZ9lioNuvgf-Gzjh3jpnXwcWFJNjABuaaHfEMj7PvNti84xBBrOZ4z07ePRblll6X6br_bBMFq9Gr5xDH0M03oy2T2JVb7oD1Uevu9hCUr2VPzDzmLBHoRdjKzGRZRoKY7i2Etr0xS_oqmJLqtVk3hIhrfX6IrTfLu2C3XsBTEK3JXMcBMlBDoD_cQmJnLwMV0eNMKYLnsOzOeId02xpga7zoBzqebbJR_7bDR8rE82tlk3-MBTQyG8962-TW20xuuFT5d-lhukQJI3x811dQtGfjTZ__MUtUS_UUS5cVD7BPpd1VqbQivbF4uW6bfWiosnKJO9Pxk9g8RACORfZGjUk41eTjEhpCb3QYwZf95cxJMWtJ0izt0RqvdjEHCQNiRM9pEHtCNnfD3wCVJzhJ-2aM_LumBf0QSmaXgU0y=w500-h282-no);
  background-size:cover;
}
